.best-features {
  margin-top: 50px;
}

.best-features .container .row {
  border-bottom: 1px solid #eee;
  padding-bottom: 60px;
}

.best-features img {
  width: 100%;
  overflow: hidden;
}

.best-features ul.featured-list li {
  display: block;
  margin-bottom: 10px;
}

.image-container {
  overflow: hidden;
  height: 250px;
}

.card-content {
  display: flex;
  position: relative;
}

.image-container {
  flex: 0 0 250px;
  overflow: hidden;
}

.card-image {
  height: 100%;
  width: 100%;
  border-radius: 0 !important;
}

.text-content {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
