.breadcrumb-container {
  align-items: center;
}

.breadcrumb-container li,
.breadcrumb-container a {
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  margin: 0px 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.breadcrumb-container .active,
.breadcrumb-container a.active,
.breadcrumb-container a:hover {
  color: #6C36FE;
}
