.header {
  position: sticky;
  z-index: 1;
  width: 100%;
  left: 0; 
  right: 0;
  margin: 0 auto;
  background-color: #6C36FE;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu {
  line-height: 64px;
  background-color: #6C36FE;
}

.menu .ant-menu-item a,
.menu .ant-menu-item .ant-btn {
  color: #ffffff;
}

.menu .ant-menu-item a:hover,
.menu .ant-menu-item .ant-btn:hover {
  color: #FFFF33;
}
